<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Unidos Pelo Bem</title>	
	<link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src='/javascripts/jquery-3.1.1.min.js'></script>
	<script type="text/javascript" src='/javascripts/jquery-ui.min.js'></script>
	<script type="text/javascript" src='/javascripts/bootstrap.min.js'></script>
	<script type="text/javascript" src='/javascripts/general.js'></script>
</head>
<body>
	<div id='alignment'>
		<div class='ctn'>
			<div class='box'>				
				<div class='ContainerHalf catContent'>			
					<div class='logoContainer'>
						<img id="upb_logo" src="/images/upb_logo.png">
					</div>							
					<div class='catBlock catConheca' ordem='1'>
						<div class='up_arrow'></div>
						<div class='catBlockContent'>							
							Conheça
						</div>
						<div class='logo_mini'></div>
						<div class='page pgConheca'>
							<div class='container'>
								<div class='row'>
									<img class="imgBig imgTodos" src="/images/todos.jpg">
								</div>
								<div class='row'>
									<div class='col-xs-12 briefing'>
										Os <strong>UPB</strong> são uma associação sem fins lucrativos e religiosos. No intuito de auxiliar as famílias carentes de alimentação, saúde e educação através da fraternidade, doações e projetos de elevação da dignidade.
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class='catBlock catColabore' ordem='2'>
						<div class='up_arrow'></div>
						<div class='catBlockContent'>
							Colabore
						</div>
						<div class='logo_mini'></div>
						<div class='page pgColabora'></div>
					</div>
					<div class='catBlock catParticipe' ordem='3'>
						<div class='up_arrow'></div>
						<div class='catBlockContent'>
							Participe
						</div>
						<div class='logo_mini'></div>
						<div class='page pgParticipe'></div>
					</div>
					<div id='mainQuote'>
						<p>"Virtude sem caridade não passa de nome"</p>
						<p>(Isaac Newton)</p>
					</div>
				</div>
				<div class='ContainerHalf pagesHalf'>				
				</div>				
			</div>
		</div>
	</div>
</body>
</html>
