@import url('https://fonts.googleapis.com/css?family=Dancing+Script|PT+Sans|Montserrat|Open+Sans|Gloria+Hallelujah');

@media only screen and (max-width: 500px) {
   .imgAuxilio { font-size: 10px;}   
   .icLabel { font-size: 16px !important; }
   .imgEventos {height: 50px, width: 50px;}
   .secEventos .secContent p {font-size: 12px; }
   .secContatos { 
    font-size: 10px !important; 
    padding-top: 10px !important; 
    padding-bottom: 10px !important; 
}
.imgContatos {width: 20px !important; height: 20px !important;} 
.secCestaBasica{ font-size: 12px !important; }
.money{left: -100px !important; }
.hideRow{ display: block !important; }
.showedRow{ display: none !important; }
.imgBigEvento{ padding: 10px; }
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin:0;
	overflow:hidden;
}

#alignment{
	margin: 0 auto;
	max-width: 800px;
}

.Container{
	position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;      
}

.box{
    position: absolute;
    height: 200%;
    width: 100%;
    margin: 0 auto;    
    max-width: 800px;
    top: 0;
    opacity: 0;
}

.ContainerHalf{
	width: 	100%;
	height: 50%;
}

.catContent{
    text-align: center;  
    background: rgba(250,252,255,1);
    background: -moz-linear-gradient(-45deg, rgba(250,252,255,1) 0%, rgba(228,233,247,1) 41%, rgba(220,238,250,1) 53%, rgba(252,252,252,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(250,252,255,1)), color-stop(41%, rgba(228,233,247,1)), color-stop(53%, rgba(220,238,250,1)), color-stop(100%, rgba(252,252,252,1)));
    background: -webkit-linear-gradient(-45deg, rgba(250,252,255,1) 0%, rgba(228,233,247,1) 41%, rgba(220,238,250,1) 53%, rgba(252,252,252,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(250,252,255,1) 0%, rgba(228,233,247,1) 41%, rgba(220,238,250,1) 53%, rgba(252,252,252,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(250,252,255,1) 0%, rgba(228,233,247,1) 41%, rgba(220,238,250,1) 53%, rgba(252,252,252,1) 100%);
    background: linear-gradient(135deg, rgba(250,252,255,1) 0%, rgba(228,233,247,1) 41%, rgba(220,238,250,1) 53%, rgba(252,252,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcff', endColorstr='#fcfcfc', GradientType=1 );
}

.catBlockContent{
    display: table-cell;
    vertical-align: middle;
}

.catBlock{
	width: 100%;
	height: 15%;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	position: relative;
    line-height: 10%;
    top: 30px;
    display:table;
    font-family: 'PT Sans', sans-serif;    
}
#mainQuote{
    position: relative;
    top: 65px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    max-width: 360px;
    text-align: center;
    margin: 0 auto;
}

#mainQuote p:last-child{
    text-align: right;
    font-size: 14px;
    margin-right: 10px;
}

.catBlock:hover{
	cursor:pointer;
	opacity: 0.75;
}

.catConheca{background-color: #42A5F5;}
.catColabore{background-color: #f06292; }
.catParticipe{background-color: #66bb6a;}

.up_arrow{
    background: url('../images/up_arrow.svg');
    background-size: 100% 100%;
    height: 30px;
    width: 30px;  
    z-index: 20002;
    position:absolute;
    left: 8%;
    top: 32px;
    opacity: 0;
}

.up_arrow:hover{
    border: 1px solid white;
    border-radius: 1000px;
    color:black;
    opacity: 0.7 !important;
}

.logoContainer{
    height: 35%;
    width: 100%;
    margin:0 auto;
}
#upb_logo{
    height: 100%;
    margin:0 auto;
}

.logo_mini{
    background: url('../images/logo_mini.png');
    background-size: 100% 100%;    
    position: absolute;
    right: 10px;
    top: 25px;
    width: 80px;
    height: 26px;
    opacity: 0;
}

.imgBig{
    width: 100%;
    height: 100%;
    max-width: 800px;   
    /*border-radius: 7px;  */
}

.page{    
    display: none;
    opacity: 0;
    margin-top: 30px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif !important;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    max-height: 600px;
}

.page .container{
    max-width: 800px;
    width: 100%;
    padding-bottom: 30px;
}

.secPrincipal, .secCestaBasica{
    background-color: white;    
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;      
}

.blue{
    color: #42a5f5;
}

.pink{
    color: #f06292;
}

.secTitle{      
    height: 40px;
    font-size: 30px;
    font-weight: 600; 
    line-height: 40px;
    padding-bottom: 30px;
}

.secAuxilio{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;  
    background-color: #F06292;    
}

.imgAuxilio{  
    text-align: center;
    line-height: 15px;
}

.imgAuxilio img{
    height: 100%;
    max-height: 100px;
    width: 100%;
    max-width: 100px;
    margin-bottom: 10px;        
    margin-top: 15px; 
    margin: 0 auto;
}

.secHistoria{
    background-color: #EBE4DC;
    color: #333333;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;      
}

.secProximoEvento{
    background-color: #F06292; 
    color: white;
    padding-top: 40px;
    padding-bottom: 100px;
    font-size: 18px;
    line-height: 1.6;   
}

.secQueroParticipar{
    background-color: #A9CABA;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;   
}

.secProjetos{
    background-color: #333333;    
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 18px !important;      
    text-align: left;
}
.secProjetos .secTitle{
    text-align: center;
}

.secFinanceiro{
    background-color: #333333;  
    padding-bottom: 20px;
    font-size: 18px; 
    line-height: 18px !important; 
}


.icInfo{
    height: 50px;
    width: 50px;
    border: 3px dotted white;
    text-align: center;
    line-height: 50px;
    border-radius: 1000px;
    font-size: 35px;
    background-color: #f06292;
    font-weight: bold;
    font-family: Arial !important;
}

.icInfo:hover{
    background-color: #42A5F5;
}

.icLabel{
    height: 50px;
    width: 50px;
    line-height: 50px;
    white-space: nowrap;
    font-size: 24px;
    padding-left: 20px;
}

.secEventos{
    background-color: white;    
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 18px;      
    text-align: left;
    color: black;
}
.secEventos .secTitle{
    text-align: center;
    padding-bottom: 20px;
    color: #66bb6a;
}

.secEventos .row, .secEventos p{
    padding: 0;
    margin: 0;
}

.secEventos p {
    height: 100px;    
    margin-left: 10px;
    margin-top: 15px;
}
.imgEventos{
    max-height: 100px;
    max-width: 100px;
    height: 100%;
    width: 100%;
    min-width: 50px;
    min-height: 50px;
}

.secContatos{
    font-size: 16px;        
    margin-bottom: 30px;   
    padding-top: 30px; 
    padding-bottom: 30px;   
    background-color: black;
}

.secMoney{
    font-size: 16px;
    color: #333333;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #BDFCDD;        
}

.secHands{
    font-size: 16px;
    color: #333333;
    padding: 0;
    background-color: #F9F6EF;    
}

.colHeart{
    margin: 0 auto;
    height: 200px;
}

.imgContatos{
    max-height: 40px;
    max-width: 40px;
    height: 100%;
    width: 100%;    
    margin-left: 0;
}

.secContatos img, .secContatos div {
    display: inline;
    padding : 0 !important;
    margin : 0 !important;
}

.secContatos div{
    padding : 0 !important;
    margin : 0 !important;
}

.alignLeft{
    text-align: left;
}

.alignCenter{
    text-align: center;
    margin: 0 auto;
}

.alignRight{
    text-align: right;
}


/* Money turns to heart */

.money{
  width: 200px;
  height: 100px;
  background-color: #009444;
  position: relative;
  margin-top: 10px;
  transition: all 1s;
  -webkit-transition: all 1s;
  margin-left: 70px !important;
}

.smallCircle{
  width: 30px;
  height: 30px;
}

.bigCircle{
  width: 55px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 50px;
  color: #004C28;
}

.circle{
  background-color: #FC5574;
  border-radius: 100px;
  position: absolute;  
  background-color: #009444;
}

.lb, .rb{
  bottom: 0;
}

.rt, .rb{
  right: 0;
}

.square{
  background-color: #006838;
  width: 180px;
  height: 80px;
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.lCircle, .rCircle{
  top:35px;
}

.lCircle{
  left: 30px;
}

.rCircle{
  right: 30px;
}

.mCircle{
  left: 75px;
  top: 20px
}

.clickBox{
  display: table;
}


.click, .arrowBox{
  display: table-cell;
}

.click{
  height: 30px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;  
}

.arrowBox{
  border: 4px dotted #FC5574;
  width: 40px;  
  border-left: none;
  border-bottom: none;
  border-radius: 1000px;  
  position: relative;
}

.arrow{
  position: absolute;
  bottom: -13px;
  margin-left: 18px;
  z-index: 1000;  
  font-size: 20px;
  color: red;
  
  -ms-transform: rotate(40deg); 
  -webkit-transform: rotate(40deg); 
  transform: rotate(40deg);
}

.money:hover{
  cursor: pointer;
}

.heart{
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100px;
  -ms-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
  transform: rotate(45deg);
  background-color: #EF133B;
  margin-top: 50px;
}

#heart {
  width: 100px;
}

.heartbeat {
  -webkit-animation-name: animation_heart; 
  -webkit-animation-duration: 1.3s; 
  animation-name: animation_heart;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;  
  margin-left: 50px !important;
}

@-webkit-keyframes animation_heart{
    60%  {transform: scale(1) }
    70%  {transform: scale(1.2) }
  80%  {transform: scale(1) }
  90%  {transform: scale(1.2) }
  100%  {transform: scale(1) }
}


.heart *{
  opacity: 0;
  background-color: #EF133B;
  -webkit-transition: 
    width 1s,
    height 1s,
    top 1s,
    left 1s;
  transition:
    width 1s,
    height 1s,
    top 1s,
    left 1s;
}

.heart .lCircle, 
.heart .rCircle{
  width: 100px;
  height: 100px;
  opacity: 1 !important;
  -webkit-transition: 
    top 0.2s,
    left 0.2s
    width 1.5s
    height 1.5s,
    opacity 1.5s;
  transition:
    top 0.2s,
    left 0.2s
    width 1.5s
    height 1.5s,
    opacity 1.5s;
}

.heart .lCircle{
  top: 0px;
  left: -50px;
}

.heart .rCircle{
  top: -50px;
  left: 0px;
}

.moneyText{
    opacity: 0;
    line-height: 16px;
}

.imgTruck{
    height: 200px;
    width: 200px;
}

.hideRow{
    display: none;
    font-size: 15px;
}

.showedRow{
    display: block;
    text-align: left;
}

.imgBigEvento{
    width: 100%;
    height: 100%;
    max-width: 500px;
    border-radius: 5px;
}

.secHands .secTitle{
    margin-top: 50px;
}

.upbModal{
    font-family: 'PT Sans', sans-serif;  
}

.upbModal .modal-content{
    border-radius:  0px;
    background-color: #fffcef;
}

.upbModal .modal-body{
    font-size: 16px;
    text-align: center;
}

.upbModal .modal-title{
    font-weight: bold;
}

.upbModal .btn{
    border-radius: 0px !important;
    background-color:  #333333;
    color: #fffcef;
}

.upbModal img{
    width:  100%;
}